.tab-button {
  font-size: 20px;
  padding: 10px 15px;
  background-color: lightgray;
  border: 1px solid black;
  cursor:pointer;
}

.tab-button--active {
  background-color: white;
}

.restaurant {
  display: none;
  padding: 20px 0;
}

.restaurant--active {
  display: block;
}
